%section{:class=>"L1 headline"}
  %h1 I'm Steve Boak, a product designer, product manager, and front-end developer in San Francisco.
  %img{:class=>"me", :src=>"/images/me.jpg", :alt=>"me"}
  %img{:class=>"me_b", :src=>"/images/me_b.jpg", :alt=>"me with brooke"}
  %img{:class=>"me_ski", :src=>"/images/me_ski.jpg", :alt=>"me skiing"}
  
  %section{:class=>"L2", :id=>"social"}
    %h2{:id=>"social_networks"} Find Me On: 
    %a{:href=>"http://www.twitter.com/sboak", :class=>"social_link", :title=>"Twitter", :id=>"twitter", :target=>"_blank"}
    %a{:href=>"http://www.facebook.com/stephen.boak", :class=>"social_link", :title=>"Facebook", :id=>"facebook", :target=>"_blank"}
    %a{:href=>"http://www.linkedin.com/in/stephenboak", :class=>"social_link", :title=>"LinkedIn", :id=>"linkedin", :target=>"_blank"}
    %a{:href=>"https://github.com/sboak", :class=>"social_link", :title=>"GitHub", :id=>"github", :target=>"_blank"}
    %a{:href=>"http://dribbble.com/sboak", :class=>"social_link", :title=>"Dribbble", :id=>"dribbble", :target=>"_blank"}

%section{:class=>"L1", :id=>"portfolio"}
  %h1 Portfolio
  
  %section{:class=>"L2", :id=>"web"}
    %h2 Web
    -@projects.each do |project|
      -if project.get_type == "web"
        %figure{:class=> project.get_banner ? "banner" : "thumb" }
          %a{:id=>"a_#{project.get_code}", :href=> project.get_banner ? "http://www.boundary.com" : "##{project.get_code}", :title=>"#{project.get_name}" }
            %img{:src=>"/images/thumb-#{project.get_code}.jpg", :alt=>"#{project.get_name} thumbnail"}
          %figcaption
            %span.name=project.get_name
            %span.desc=project.get_desc
        %div{:class=>"overlay-container", :id=>"overlay_#{project.get_code}"}
          %div{:class=>"ui-widget-overlay"}
          %div{:class=>"ui-widget-shadow ui-corner-all"}
          %div{:class=>"ui-widget ui-widget-content ui-corner-all", :id=>"content_#{project.get_code}"}

  %section{:class=>"L2", :id=>"architecture"}
    %h2 Architecture
    -@projects.each do |project|
      -if project.get_type == "architecture"
        %figure{:class=>"thumb"}
          %a{:id=>"a_#{project.get_code}", :title=>"#{project.get_name}", :href=>"##{project.get_code}"}
            %img{:src=>"/images/thumb-#{project.get_code}.jpg", :alt=>"#{project.get_name} thumbnail"}
          %figcaption
            %span.name=project.get_name
            %span.desc=project.get_desc
        %div{:class=>"overlay-container", :id=>"overlay_#{project.get_code}"}
          %div{:class=>"ui-widget-overlay"}
          %div{:class=>"ui-widget-shadow ui-corner-all"}
          %div{:class=>"ui-widget ui-widget-content ui-corner-all", :id=>"content_#{project.get_code}"}
        
  %section{:class=>"L2", :id=>"other"}
    %h2 Other
    -@projects.each do |project|
      -if project.get_type == "other"
        %figure{:class=>"thumb"}
          %a{:id=>"a_#{project.get_code}", :title=>"#{project.get_name}", :href=>"##{project.get_code}"}
            %img{:src=>"/images/thumb-#{project.get_code}.jpg", :alt=>"#{project.get_name} thumbnail"}
          %figcaption
            %span.name=project.get_name
            %span.desc=project.get_desc
        %div{:class=>"overlay-container", :id=>"overlay_#{project.get_code}"}
          %div{:class=>"ui-widget-overlay"}
          %div{:class=>"ui-widget-shadow ui-corner-all"}
          %div{:class=>"ui-widget ui-widget-content ui-corner-all", :id=>"content_#{project.get_code}"}
    
%section{:class=>"L1", :id=>"writing"}
  %h1 Writing
  %section{:class=>"L2", :id=>"recent_posts"}
    %h2 Recent Blog Posts
    #posts
  %section{:class=>"L2", :id=>"recent_tweets"}
    %h2 Recent Tweets
    #tweets
  %section{:id=>"recent_photos"}
    %h2 Recent Photos
    #instagram

%section{:class=>"L1", :id=>"about"}
  %h1 About Me
  %ul
    %li
      I currently work at 
      %a{:href => "http://www.boundary.com"} Boundary
      designing a next-generation real-time network monitoring and operations platform.
    %li
      I made my first website at the age of 14, and led the design of an
      %a{:href=>"http://web.archive.org/web/19970624132812/http://www.teenvoice.com/Main.html", :target=>"_blank"}online newspaper for teens
      in high school.
    %li I'm trained as both an engineer and a designer, and have worked on project teams in each role - and I understand what each role brings to great products.
    
  %a{:class=>"button", :href=>"/stephenboak-resume.pdf", :title=>"Download Resume"} Download Résumé

  %section{:class=>"L2", :id=>"skills_current"}
    %h2 Current Skills
    %div{:id=>"current_chart"}
  %section{:class=>"L2", :id=>"skills_past"}
    %h2 Rusty Skills
    %div{:id=>"past_chart"}
  .clear