<hgroup id="home-intro">
  <h1>Hi, I'm Steve Boak</h1>
  <h2>Product Designer in San Francisco, CA</h2>
</hgroup>

<div id="slideshow">
  <figure class="item"></figure>
  <figure class="item"></figure>
  <figure class="item"></figure>
  <figure class="item"></figure>
  <figure class="item"></figure>
  <figure class="item"></figure>
</div>

<section class="L1" id="about">
  <div id="headline">
    <h3>I Build Products & Brands</h3>
    <p>My 10+ years of product experience span the physical and the digital worlds, and I've built products and teams from the ground up. At Boundary I designed the first version of our web product and led product design to over 100 paying customers. At TankH2O I helped create both a product and a brand that connect deeply with customers, selling in more than 50 stores in under a year.</p>
  </div>
  <div class="container-fluid">
    <section class="L2"><div class="content-padded">
      <div id="social">
        <h3 id="social_networks">Find Me On </h3>
        <a class="social_link" title="Twitter" href="http://www.twitter.com/sboak" target="blank"><i title="Twitter" class="icon-twitter-squared"></i></a><a class="social_link" title="Facebook" href="http://www.facebook.com/stephen.boak" target="blank"><i title="Facebook" class="icon-facebook-squared"></i></a><a class="social_link" title="LinkedIn" href="http://www.linkedin.com/in/stephenboak"  target="blank"><i title="LinkedIn" class="icon-linkedin-squared"></i></a><a class="social_link" title="GitHub" href="https://github.com/sboak" target="blank"><i title="GitHub" class="icon-github-circled"></i></a><a class="social_link" title="Dribbble" href="http://dribbble.com/sboak" target="blank"><i title="Dribbble" class="icon-dribbble"></i></a><a class="social_link" title="Flickr" href="http://www.flickr.com/photos/stephenboak/sets/" target="blank"><i title="Flickr" class="icon-flickr"></i></a><a class="social_link" title="Instagram" href="http://www.instagram.com/sboak" target="blank"><i title="Instagram" class="icon-instagramm"></i></a><span class="clearfix"></span>
      </div>
    </div></section>

    <section class="L2"><div class="content-padded">
      <h3>Lifestyle</h3>
      <ul class="label-list"><!--
     --><li><h5>Running</h5></li><!--
     --><li><h5>Skiing</h5></li><!--
     --><li><h5>Photography</h5></li><!--
     --><li><h5>Coffee</h5></li><!--
     --><li><h5>Trekking</h5></li><!--
     --><li><h5>Scuba diving</h5></li><!--
     --><li><h5>Triathlons</h5></li><!--
   --></ul>
    </div></section>
  </div>
</section>

<section class="L1" id="portfolio">
  <h2 class="seperator">Portfolio</h2>
  <div class="container-fluid">
    <div class="row-fluid L2"><div class="span12">
      <h3 class="seperator2">Current Projects</h3>
      <ul><!--
        --><li id="opsee-thumb"><a href="http://www.opsee.com"><span class="title">Opsee<em>CPO & Co-founder</em></span></a></li><!--
        --><li id="tankh2o-thumb"><a rel="prefetch" class="project-link" href="/tankh2o" id="tankh2o"><span class="title">TankH2O <em>Cofounder</em></span></a></li><!--
  --></ul>
    </div></div>

    <div class="row-fluid L2"><div class="span12">
      <h3 class="seperator2">Past Projects</h3>
      <ul><li id="opsmatic-thumb"><a rel="prefetch" class="project-link" href="/opsmatic" id="opsmatic"><span class="title">Opsmatic <em>Product Designer</em></span></a></li><!--
    --><li id="boundary-thumb"><a rel="prefetch" class="project-link" href="/boundary" id="boundary"><span class="title">Boundary <em>Product Design Lead</em></span></a></li><!--
    --><li id="quid-thumb"><a title="Quid" class="project-link" href="/quid" id="quid"><span class="title">Quid <em>Product Manager</em></span></a></li><!--
    --><li id="riyadh-thumb"><a title="Riyadh Region Dashboard" class="project-link" href="/riyadh" id="riyadh"><span class="title">Riyadh Region Dashboard <em>System Architect</em></span></a></li><!--
    --><li id="dragonfly-thumb"><a title="Dragonfly" class="project-link" href="/dragonfly" id="dragonfly"><span class="title">Dragonfly <em>Structural Designer</em></span></a></li><!--
    --><li id="helios-thumb"><a title="Helios House" class="project-link" href="/helios" id="helios"><span class="title">Helios House <em>Structural Designer</em></span></a></li><!--
     --><li id="beekman-thumb"><a title="New York by Gehry" class="project-link" href="/beekman" id="beekman"><span class="title">New York by Gehry <em>Façade Designer</em></span></a></li><!--
    --></ul>
    </div></div>
  </div>
</section>

<section class="L1" id="writing">
  <h2 class="seperator">Writing</h2>
  <div class="container-fluid">
    <div class="row-fluid"><div class="span12">
      <div class="L2" id="recent_tweets">
        <h3 class="seperator2">Recent Tweets <a class="writing-link" target="_blank" href="http://www.twitter.com/sboak">@sboak on Twitter</a></h3>
        <div id="tweets">
          <ul>
            <% @tweets.each do |t| %>
              <li><a class="img" target="_blank" href="<%= 'https://www.twitter.com/' + t.user.screen_name + '/status/' + t.id.to_s %>"><img alt="twitter profile pic" src="<%= t.user.profile_image_url_https %>"/></a><p><span class="body-text"><%= t.text %></span><span class="date"> – <a target="_blank" href="<%= 'https://www.twitter.com/' + t.user.screen_name + '/status/' + t.id.to_s %>"><%=t.created_at.strftime("%b %d, %Y") %></a></span></p></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div>
        <div class="L2" id="recent_photos">
          <h3 class="seperator2">Recent Photos <a class="writing-link" target="_blank" href="http://www.instagram.com/sboak">sboak on Instagram</a></h3>
          <div id="instagram"></div>
        </div>
      </div>

    </div></div>
  </div>
</section>

<div class="overlay-container">
  <div class="overlay-body">
    <div class="container-fluid" id="project-container">
    </div>
  </div>
</div>
<a href="#" class="overlay-close"><i title="Close" class="icon-cancel"></i></a>






