<hgroup id="home-intro">
  <h1>Hi, I'm Steve Boak</h1>
  <h2>Product Designer in San Francisco, CA</h2>
</hgroup>

<div id="slideshow">
  <figure class="item"></figure>
  <figure class="item"></figure>
  <figure class="item"></figure>
  <figure class="item"></figure>
  <figure class="item"></figure>
  <figure class="item"></figure>
</div>

<section class="L1" id="about">
  <h2 class="seperator">About Me</h2>
  <div class="container-fluid">
      <section class="L2">
        <p>I made my first website at the age of 14, and led the design of an <a href="http://web.archive.org/web/19970624132812/http://www.teenvoice.com/Main.html">online newspaper for teens</a> in high school. I'm trained as both an engineer and a designer, and have worked on project teams in each role - and I understand what each role brings to great products.</p>
      </section>

      <section class="L2">
        <h3>Interested In</h3>
        <ul>
          <li>Data Visualization</li>
          <li>Agile Design</li>
        </ul>
      </section>
  </div>
</section>

<section class="L1" id="portfolio">
  <h2 class="seperator">Portfolio</h2>
  <div class="container-fluid">
    <div class="row-fluid L2"><div class="span12">
      <h3 class="seperator2">Recent Projects</h3>
      <ul><!--
        --><li id="boundary-thumb"><a class="project-link" href="#" id="boundary"><span class="title">Boundary <em>Product Design Lead</em></span></a></li><!--
        --><li id="tankh2o-thumb"><a class="project-link" href="#" id="tankh2o"><span class="title">TankH2O <em>Cofounder</em></span></a></li><!--
  --></ul>
    </div></div>

    <div class="row-fluid L2"><div class="span12">
      <h3 class="seperator2">Past Projects</h3>
      <ul><!--
    --><li id="quid-thumb"><a class="project-link" href="#" id="quid"><span class="title">Quid <em>Product Manager</em></span></a></li><!--
    --><li id="riyadh-thumb"><a class="project-link" href="#" id="riyadh"><span class="title">Riyadh Region Dashboard <em>System Architect</em></span></a></li><!--
    --><li id="dragonfly-thumb"><a class="project-link" href="#" id="dragonfly"><span class="title">Dragonfly <em>Structural Designer</em></span></a></li><!--
    --><li id="helios-thumb"><a class="project-link" href="#" id="helios"><span class="title">Helios House <em>Structural Designer</em></span></a></li><!--
     --><li id="beekman-thumb"><a class="project-link" href="#" id="beekman"><span class="title">New York by Gehry <em>Façade Designer</em></span></a></li><!--
    --></ul>
    </div></div>
  </div>
</section>

<section class="L1" id="writing">
  <h2 class="seperator">Writing</h2>
  <div class="container-fluid">
    <div class="row-fluid"><div class="span12">
      <div class="L2" id="recent_posts">
        <h3 class="seperator2">Recent Blog Posts <a class="writing-link" target="_blank" href="http://blog.stephenboak.com/">Visit my Blog</a></h3>
        <div id="posts"></div>
      </div>
      <div class="L2" id="recent_tweets">
        <h3 class="seperator2">Recent Tweets <a class="writing-link" target="_blank" href="http://www.twitter.com/sboak">@sboak on Twitter</a></h3>

        <div id="tweets">
          <ul>
            <% @tweets.each do |t| %>
              <li><a class="img" target="_blank" href="<%= 'https://www.twitter.com/' + t.user.screen_name + '/status/' + t.id.to_s %>"><img src="<%= t.user.profile_image_url_https %>"/></a><p><span class="body-text"><%= t.text %></span><span class="date"> – <a target="_blank" href="<%= 'https://www.twitter.com/' + t.user.screen_name + '/status/' + t.id.to_s %>"><%=t.created_at.strftime("%b %d, %Y") %></a></span></p></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div></div>
    <div class="row-fluid"><div class="span12">
      <div id="recent_photos">
        <h3 class="seperator2">Recent Photos <a class="writing-link" target="_blank" href="http://www.instagram.com/sboak">sboak on Instagram</a></h3>
        <div id="instagram"></div>
      </div>
    </div></div>
  </div>
</section>

<div class="overlay-container">
  <div class="overlay-body">
    <div class="container-fluid" id="project-container">
    </div>
  </div>
</div>
<a href="#" class="overlay-close">x</a>






